<html>
   <head>
      <title>Car Wash Booking System</title>
   </head>
   <body>
      <div class="banner">
         <div class="content">
            <h1>Visit Our Modern Car Wash!</h1>
            <P>We Love Your Car <br>The Same As You Do.</P>
            <div>
               <button (click)="onUserPage()" type="button" class="button"><span class="span"></span>USER</button>
               <button (click)="onAdminPage()" type="button" class="button"><span class="span"></span>ADMIN</button>
            </div>
         </div>
      </div>
   </body>
</html>








<!-- <div class="outer">
<div class="button">

           <div class="User-button">
            <button   (click)="onUserPage()" type="submit" class="btn btn-primary btn-block mt-4 w-100">User</button>
           </div>
        <div class="Admin-button">
           <button    (click)="onAdminPage()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Admin</button>
        </div>
             
</div>
</div> -->
