<!-- <div class="outer">
   <div class="banner">
   <div class="container">
   <h1>PACKAGE DETAILS DASHBOARD</h1>
   <div class="card-container">
      <div class="card-form">
         <!-- <form #form="ngForm"> [(ngModel)]="package.name"[(ngModel)]="package.description"
            [(ngModel)]="package.price" [(ngModel)]="package.status"(ngSubmit)="onSubmit()"> -->
            <!-- <form #form="ngForm" (ngSubmit)="onSubmit()"> 
            <div class="form-group">
               <label for=""> Name</label>
               <input type="text" name=" packagename" [(ngModel)]="package.name">
            </div>
            <div class="form-group">
               <label for="">Description</label>
               <input type="text" name=" packagedescription" [(ngModel)]="package.description">
            </div>
            <div class="form-group">
               <label for="">Price</label>
               <input type="text" name="packageprice" [(ngModel)]="package.price" >
            </div>
            <div class="form-group">
               <label for="">Status</label>
               <input type="text" name="packagestatus" [(ngModel)]="package.status">
            </div>
            <div class="form-group">
                
                   
               <button>Save</button>
             
            </div>
         </form>
      </div>
       
      <div class="cards-grid">
         <div   class="card-row" *ngFor="let  package of  packages">
            <div class="card-row-details">
               <span>{{package.name}}</span>
               <span>  </span>
               <span>{{package.description}}</span>
               <span>{{package.price}}</span>
               <span>{{package.status}}</span>

         </div>
         <div class="card-row-action">
            <a (click)="deletepackage(package.id)" ><i class="fa-solid fa-trash-can"></i></a>
         </div>
      </div>
    
    
   </div>
</div>
</div>
</div> --> -->
