<br>
<h2 style="text-align: center;">Welcome Customer :)</h2>
<h3>Package Details</h3>
 
<div class="space"></div>
<!-- <button  style="margin: 50px; padding: 10px;" type="button" class="btn btn-primary" routerLink="/editpackage" style="background-color:rgb(123, 152, 232);">Edit Package</button> -->
<!-- <div *ngIf="!products" class="loader"></div> -->
<table data-page-length='5' class="table table-striped" aria-labelledby="tabelLabel">
    <thead>
        <tr>
             
            
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th> Status</th>
            <th> </th>
             
             
            
             
        </tr>
    </thead>
    <tbody>
        <tr     *ngFor="let package of packages">
             
            
            <td>{{package.name}}</td>
            <td>{{package.description}}</td>
            <td>{{package.price}}</td>
            
            <td>{{package.status}}</td>
            <td><button (click)="Select(package.id)"  style="border:none" class="fa fa-plus-square"></button></td>
             
             
        </tr>
    </tbody>
</table>
<button class="btn" (click)="onLogout()">Log Out</button>
