
<html>
    <head>
       <title>Car Wash Booking System</title>
    </head>
    <body>
       <div class="banner">
          <div class="content">
             <h1> Modern Car Wash!</h1>
             <!-- <P>We Love Your Car <br>The Same As You Do.</P> -->
             <div>
                <button (click)="onUser()" type="button" class="button">USER DETAILS</button>
                <button (click)="onCar()" type="button" class="button">CAR DETAILS</button>
                <button (click)="onPackage()" type="button" class="button">PACKAGE DETAILS</button>
             </div>
          </div>
       </div>
    </body>
</html>
