<nav class=" navbar navbar-expand bg-dark text-light">
     
        <div class="navbar-header nav-item">
             
          <span>GREEN WASH</span>
        </div>
        <div class="collapse navbar-collapse navbar-right justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav text-light">
                <a style="margin-right:20px" routerLink="/home">
                     LogOut </a>
                <a routerLink="/myorder">
                    MyOrders</a>
            </div>
        </div>
     
</nav> 
<br>
 
<div class="container">
  <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Order Placed Successfully!</strong>  Thank You for choosing Green Wash
    <button (click)="removemsg()"type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    <form action="action_page.php" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-25">
          <label for="fname">Instructions</label>
        </div>
        <div class="col-75">
          <input type="text" id="washingInstructions"
          [(ngModel)]="order.washingInstructions" name="washingInstructions">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Date</label>
        </div>
        <div class="col-75">
          <input type="date"  id="date"
          [(ngModel)]="order.date" name="date">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Package Name</label>
        </div>
        <div class="col-75">
          <input type="text" [disabled]="true" type="text"     id="packagename"
          [(ngModel)]="package.name"  name="packagename">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Price</label>
        </div>
        <div class="col-75">
          <input type="text" [disabled]="true" type="text"   id="price"
          [(ngModel)]="package.price"  name="price">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">City</label>
        </div>
        <div class="col-75">
          <input type="text" id="city"
          [(ngModel)]="order.city" name="city">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Pincode</label>
        </div>
        <div class="col-75">
          <input type="text" id="pincode"
          [(ngModel)]="order.pincode" name="pincode">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Status</label>
        </div>
        <div class="col-75">
          <input type="text" [disabled]="true" type="text"  id="status"
          [(ngModel)]="order.status"  name="status">
        </div>
      </div>
      
      <br>
      <br>
      <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn btn-lg" >Order Now</button>
        <button (click)="next()" type="submit" class="btn btn-lg" >Next</button>
      </div>
      <!-- <button    id="click" class="submit-btn">
        <span class="button__text" id="click">Order Now</span>
     </button>
     <button (click)="next()"    class="submit-btn" ><span class="button__text"  >Next</span></button> -->
    </form> 
    
 
   
  </div>
  
 
