<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form (ngSubmit)="onSubmit()" >
                    <div class="form-group">
                        <label>washingInstructions</label>
                        <input   type="text" class="form-control form-control-lg" id="washingInstructions"
                         name="washingInstructions">
                    </div>
                    <div class="form-group">
                        <label>date</label>
                        <input type="text" class="form-control form-control-lg" id="date"
                         name="date">
                    </div>
                    
                    <div class="form-group">
                        <label>packagename</label>
                        <input  [disabled]="true" type="text" type="text"   class="form-control form-control-lg" id="packagename"
                        [(ngModel)]="package.name"  name="packagename">
                    </div>
                    <div class="form-group">
                        <label>price</label>
                        <input [disabled]="true" type="text" class="form-control form-control-lg" id="price"
                        [(ngModel)]="package.price"  name="price">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input   type="text" class="form-control form-control-lg" id="city"
                         name="city">
                    </div>
                    <div class="form-group">
                        <label>Pincode</label>
                        <input   type="text" class="form-control form-control-lg" id="pincode"
                         name="pincode">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control form-control-lg" id="status"
                        name="status">
                    </div>
                         
                    
        <div class="text-center text-lg-start mt-4 pt-2">
                        <button   type="submit" class="btn btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"  >
                            Order Now</button>



                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
 
